@import url('https://fonts.googleapis.com/css?family=Roboto');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.outer {
  overflow: hidden;
  max-width: 100%;
}

.wrap {
  max-width: 64rem;
  margin: 0 auto;
}

.fluid {
  margin-left: -1rem;
  margin-right: -1rem;
}

.green-box {
  background: #becb00;
}

.dark-box {
  background: #000;
  color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 2.5rem;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

p {
  font-size: 1.5rem;
  font-weight: normal;
}

.section {
  padding: 0 1rem;
  margin-bottom: 5rem;
}

.section:first-of-type {
  margin-top: 5rem;
}

.section.green-box,
.section.dark-box {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section img {
  width: 100%;
  height: auto;
}

.main-nav {
  padding-bottom: 1rem;
}

.menu-button {
  background: transparent;
  border: none;
  padding: 1rem;
}

.menu-button img {
  width: 2rem;
  height: auto;
  vertical-align: middle;
}

.menu-button-label {
  font-size: 1rem;
  margin-left: 1rem;
}

#main-menu {
  list-style-type: none;
  border-bottom: 1px solid #000;
}

#main-menu a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  display: block;
  padding: 1rem;
  border-left: 5px solid transparent;
}

#main-menu a:hover,
#main-menu a:focus {
  border-color: #000;
}

.social-nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#social-menu {
  list-style-type: none;
}

#social-menu img {
  width: 2rem;
  height: auto;
}

.bb-logo {
  padding: 6rem 0;
  margin: 0 auto;
  max-width: 18rem;
}

.bb-logo img {
  width: 100%;
  height: auto;
}

.pp-logo {
  text-align: center;
}

.pp-logo img {
  width: 8rem;
  height: auto;
}

/* main */


.a-link {
  display: block;
  background: #becb00;
  padding: .5rem 1rem;
  color: #000;
  font-size: 1.25rem;
}

.a-link h3 {
  margin: 0;
}

.a-content {
  margin-top: 2rem;
}

.a-inner {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.a-inner .col-1 {
  width: 75%;
}

.a-inner .col-2 {
  width: 25%;
}

.a-inner p,
.a-inner h4 {
  font-size: 1.25rem;
  font-weight: normal;
}

.menu-price p {
  text-align: right;
}

.selected img {
  display: none;
}

.employer-items,
.employer-item {
  display: flex;
  flex-wrap: wrap;
}

.employer-item h3 {
  order: 2;
  display: block;
  padding: 1rem;
  background: #888;
  width: 100%;
  margin-top: 1rem;
}

.employer-item img {
  order: 1;
}

@media (min-width: 768px) {
  .employer-items {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .employer-item {
    width: 50%;
    padding: 1rem;
  }
}
